:root {
    --background-color: #fff;
    --text-color: #000;
    --box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    --background: #ddd;
}

.dark {
    --background-color: #333;
    --text-color: #fff;
    --box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
    --background: #555;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--background);
    color: var(--text-color);
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #ffec;
    backdrop-filter: blur(5px);
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}

.navbar a {
    color: #027bcc;
    font-weight: bold;
    position: relative;
    transition: color 0.5s ease;
}

.logo {
    width: 25%;
    text-align: center;
}

nav {
    display: flex;
    width: 50%;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #027bcc;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--text-color);
}

nav ul li a:hover::after {
    width: 70%;
    transition: width .3s;
}

.mode {
    margin-right: 30px;
    width: 10%;
}

.user .container {
    display: flex;
    width: 100%;
    height: calc(100%);
    padding-top: 40px;
    padding-bottom: 30px;
}

.profile-image {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 30px;
}

.profile-image img {
    border-radius: 50%;
    width: 70%;
    height: 70%;
}

.detail {
    margin-left: 10%;
    /* width: 60%; */
}

.detail h2 {
    color: #212121;
}

.detail span {
    color: #027bcc;
}

.detail h3 {
    color: #555;
    line-height: 22px;
}

.detail a.btn {
    outline: 2px solid #120055;
    background: var(--background-color);
    padding: 10px 70px;
    text-decoration: none;
    font-weight: bold;
    color: #120055;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    transition: color .5s ease-in-out, background-color .5s ease-in-out;
}


.detail a:hover {
    color: #fff;
    background: #120055;
}

.links {
    display: flex;
    width: 80%;
    margin: 10%;
}

.links a {
    text-decoration: none;
    display: flex;
    width: 20px;
    background: #027bcc;
    color: #fff;
    margin: 0 30px;
    padding: 10px 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: larger;
    transition: color .5s ease-in-out, background-color .5s ease-in-out;
}

.links a:hover {
    background: #120055;
    color: #f0f0f0;
}

/* About */
#about {
    background: var(--background-color);
}

.about {
    background: var(--background-color);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: var(--box-shadow);
    padding-top: 30px;
    margin: 75px 10%;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-heading h2 {
    color: #027bcc;
    border-bottom: 1px solid #120055;
}

/* 
.about-image img {
    border-radius: 10px;
    width: 30%;
    height: 100%;
    float: left;
    margin: 10px 2% 2px 12%;
} */

.about p {
    color: #555;
    margin: 2px 12%;
    padding: 20px 0 50px 0;
    text-align: justify;
}

/* Projects */
.project {
    text-align: center;
    background: var(--background-color);
}

.content {
    background: var(--background-color);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: var(--box-shadow);
    padding: 50px 30px;
    margin: 75px 10%;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.project a.btn {
    outline: 2px solid #120055;
    background: transparent;
    color: #120055;
    margin: 0 10px;
}

.project a.btn:hover {
    color: #fff;
    background: #120055;
}

.fa-globe {
    font-size: 20px;
}

/* Skills */
#skills {
    background: var(--background-color);
}

.skills {
    padding: 50px 30px;
    margin: 75px 5%;
    width: 90%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.skills-heading {
    display: flex;
    width: 100%;
}

.skills-heading h2 {
    color: #027bcc;
    background-color: var(--background-color);
    border: 2px solid #120055;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    box-shadow: 2px 2px 10px #120055;
}

.skills-details {
    padding: 10px 0;
    background-color: #fff;
    border: 2px solid #120055;
    border-top: none;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 10px #120055;
}

.skills .flex a:nth-of-type(even) {
    box-shadow: 2px 2px 10px #027bcc;
    color: #120055;
}

.skills .flex a {
    background: #fff;
    display: inline-block;
    box-shadow: 2px 2px 10px #120055;
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: #027bcc;
}

/* contact */

#contact {
    background: var(--background-color);
}

.contact-container {
    max-width: 600px;
    margin: 35px auto;
    padding: 20px;
    background: var(--background-color);
    box-shadow: var(--box-shadow);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
}

.contact-container h2 {
    text-transform: capitalize;
    color: #027bcc;
    border-bottom: 1px solid #120055;
}

input,
textarea {
    border-radius: 10px;
    border: 1px solid #027bcc;
    width: 90%;
    padding: 10px;
    font-size: 16px;
}

#name,
#email,
#subject,
#message {
    margin: 10px;
}

input[type="submit"] {
    outline: 2px solid #120055;
    background: #fff;
    color: #120055;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #120055;
    color: #fff;
}

/* footer */
footer {
    background: #fff;
    border-top: 1px solid #120055;
}

@media (max-width: 1020px) {

    #home {
        display: none;
    }

    .user .container {
        display: block;
        text-align: center;
        align-items: center;
    }

    .profile-image img {
        width: 40%;
        height: 40%;
    }

    .detail {
        width: 100%;
        margin: 0;
    }

    .detail a {
        padding: 5px 40px;
    }

    .links {
        display: inline-flex;
        margin: 0;
    }

    .about-heading h2,
    .contact-heading h2 {
        font-size: 40px;
    }

    .about {
        font-size: 15px;
    }

    .skills-heading {
        width: 100%;
    }

    .mode {
        width: 5%;
    }

}

@media (max-width: 900px) {

    .nav ul {
        position: absolute;
        top: 50px;
        right: 0;
        background: #ffffff;
        border-bottom: 4px solid #120055;
        border-bottom-left-radius: 20px;
        width: 40%;
        margin: 0;
        padding: 0;
        z-index: 102;
        flex-direction: column;
        display: none;
    }

    .nav ul li {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .nav ul li a {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 25px;
    }

    nav ul li a:hover::after {
        width: 0;
    }

    nav ul li a:hover {
        background-color: #120055;
        border-bottom-left-radius: 17px;
        border-top-right-radius: 20px;
        color: #fff;
        transition: color .5s, background-color .5s, border-radius .2s;
    }

    .nav-menu {
        display: block;
        width: 5%;
    }

    .nav-menu::before {
        content: "\f0c9";
        color: #027bcc;
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
        cursor: pointer;
    }

    .nav-menu.active::before {
        content: "\f00d";
    }

    .nav.active ul {
        display: block;
    }

    .skills-heading {
        width: 100%;
        margin: 0;
    }

    .skills-heading h2 {
        width: 100%;
    }

}

@media (max-width: 768px) {

    .contact-container {
        width: 90%;
    }

    .links {
        display: inline-block;
    }

    .links a {
        display: inline-block;
        margin: 0 10px;
        width: 20px;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 600px) {
    .contact-container h2 {
        margin: 0 20%;
    }
}

@media (max-width: 500px) {

    .navbar {
        padding: 10px;
    }

    .logo {
        width: 5%;
    }

    .about-heading h2,
    .contact-container h2,
    .skills-heading h2 {
        font-size: 20px;
    }

}

/* Animation */

#box {
    transform: translateX(200%);
    transition: transform .2s ease;
}

#box:nth-of-type(odd) {
    transform: translateX(-200%);
}

#box.show {
    transform: translateX(0);
}


/* DARK MODE */
.lightmode {
    display: none;
    
}

.user.dark {
    background-color: #333232;
}

#home.dark {
    background-color: #333232;
}

.navbar.dark {
    background: #141414ec;
    border-bottom: 1px solid #dfdfdf;
}

.navbar a.dark:hover {
    color: #fff;
}

.links a.dark {
    color: #fff;
    background: #212121;
}

.links a.dark:hover {
    color: #120055;
    font-size: larger;
    background: #fff;
}

#skills.dark {
    background: #333232;
}

.skills-heading h2.dark {
    background: #212121;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
    border: none;
}

.skills-details.dark {
    background: #212121;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
    border: none;
}

h2.dark {
    color: #fff;
    border-bottom-color: #fff;
}

h3.dark {
    color: #fff;
}

p.dark {
    color: #ccc;
}

a.btn.dark {
    outline: 2px solid #797979;
    background: transparent;
    color: #797979;
}

a.btn:hover.dark {
    color: #120055;
    background: #fff;
    outline: #fff;
}

footer.dark {
    background: #212121;
    color: #fff;
}