* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family:  sans-serif;
}

body {
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #120055;
    background: #ffffffec;
}

.logo {
    width: 15%;
    text-align: center;
}

nav {
    display: flex;
    width: 70%;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #027bcc;
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #120055;
}

nav ul li a:hover::after {
    width: 70%;
    color: #120055;
    transition: width .3s;
}

.user {
    display: flex;
}

.profile-image {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 30px;
}

.profile-image img {
    border-radius: 50%;
    width: 70%;
    height: 70%;
}

.detail {
    margin-left: 5%;
    margin-right: 5%;
}

.detail h1 {
    font-family: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: #027bcc;
}

.detail h3 {
    color: #555;
    line-height: 22px;
}

.detail a {
    outline: 2px solid #120055;
    background: #fff;
    padding: 10px 70px;
    text-decoration: none;
    font-weight: bold;
    color: #120055;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    transition: color .5s ease-in-out, background-color .5s ease-in-out;
}

.detail a:hover {
    color: #fff;
    background: #120055;
}

.links {
    display: flex;
    width: 80%;
    margin: 10%;
}

.links a {
    text-decoration: none;
    display: flex;
    width: 20px;
    background: #027bcc;
    color: #fff;
    margin: 0 30px;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: larger;
    transition: color .5s ease-in-out, background-color .5s ease-in-out;
}

.links a:hover {
    background: #120055;
    color: #f0f0f0;
}

/* About */
.about {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    padding-top: 30px;
    margin: 75px 10%;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-heading h1 {
    color: #027bcc;
}
/* 
.about-image img {
    border-radius: 10px;
    width: 30%;
    height: 100%;
    float: left;
    margin: 10px 2% 2px 12%;
} */

.about p {
    color: #555;
    margin: 2px 12%;
    padding: 20px 0 50px 0;
    text-align: justify;
}

/* Projects */
.project {
    text-align: center;
}

.content {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    padding: 50px 30px;
    margin: 75px 10%;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.project a.btn {
    outline: 2px solid #120055;
    background: transparent;
    color: #120055;
}

.project a.btn:hover {
    color:#fff;
    background: #120055;
}

/* Skills */
.skills {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    padding: 50px 30px;
    margin: 75px 10%;
    width: 80%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.skills-heading h1 {
    color: #027bcc;
}

.skills .flex {
    display: block;
    width: 100%;
}

.skills .flex a:nth-of-type(even){
    display: inline-block;
    width: 25%;
    height: 20%;
    box-shadow: 2px 2px 10px #027bcc;
    border-radius: 10px;
    padding: 10px 0;
    margin: 10px;
    text-decoration: none;
    color: #120055;
    font-size: .7rem;
    font-weight: bold;
}

.skills .flex a {
    display: inline-block;
    width: 25%;
    height: 20%;
    box-shadow: 2px 2px 10px #120055;
    border-radius: 10px;
    padding: 10px 0;
    margin: 10px;
    text-decoration: none;
    color: #027bcc;
    font-size: .7rem;
    font-weight: bold;
}

/* contact */
.contact-container {
    max-width: 600px;
    margin: 35px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.contact-container h1 {
    text-transform: uppercase;
    color: #027bcc;
}

input,
textarea {
    border-radius: 10px;
    border: 1px solid #027bcc;
    width: 90%;
    padding: 10px;
    font-size: 16px;
}

#name,
#email,
#subject,
#message {
    margin: 10px;
}

input[type="submit"] {
    outline: 2px solid #120055;
    background: #fff;
    color: #120055;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #120055;
    color: #fff;
}

/* footer */
footer {
    background: #fff;
    border-top: 1px solid #120055;
}

@media (max-width: 1200px) {
        
    .skills .flex a{
        font-size: .6rem;
        padding: 20px;
        width: 30%;
    }
    
    .skills .flex a:nth-of-type(even){
        font-size: .6rem;
        padding: 20px;
        width: 30%;
    }

    .skills .flex {
        display: block;
        width: 100%;
    }
}

@media (max-width: 1020px) {

    #home {
        display: none;
    }

    .user {
        display: block;
        text-align: center;
        align-items: center;
    }

    .profile-image img {
        width: 40%;
        height: 40%;
    }

    .detail {
        width: 100%;
        margin: 0;
    }

    .detail a {
        padding: 5px 40px;
    }

    .links {
        display: inline-flex;
        margin: 0;
    }

    .about-heading h1,
    .contact-heading h1 {
        font-size: 40px;
    }

    .about {
        font-size: 15px;
    }

}

@media (max-width: 885px) {
    
    .nav ul {
        position: absolute;
        top: 50px;
        right: 0;
        background: #ffffff;
        border-bottom: 4px solid #120055;
        width: 40%;
        margin: 0;
        padding: 0;
        z-index: 102;
        flex-direction: column;
        display: none;
    }

    .nav ul li {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .nav ul li a {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 25px;
    }

    nav ul li a:hover::after {
        width: 0;
    }

    nav ul li a:hover {
        background-color: #120055;
        color: #fff;
        transition: color .5s, background-color .5s;
    }

    .nav-menu {
        display: block;
        width: 5%;
    }

    .nav-menu::before {
        content: "\f0c9";
        color: #027bcc;
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
        cursor: pointer;
    }

    .nav-menu.active::before {
        content: "\f00d";
    }

    .nav.active ul {
        display: block;
    }
}
@media (max-width: 768px) {
    
    .contact-container {
        width: 90%;
    }

    .links {
        display: inline-block;
    }

    .links a {
        display: inline-block;
        margin: 10px;
        padding: 10px 30px;
    }
}


@media (max-width: 600px) {
    .contact-container h1 {
        margin: 0 20%;
    }
}

@media (max-width: 500px) {
    
    .navbar {
        padding: 10px;
    }

    .logo {
        width: 5%;
    }

    .about-heading h1,
    .contact-container h1,
    .skills-heading h1 {
        font-size: 20px;
    }

    .skills .flex a{
        width: 100%;
        margin: 10px 0;
    }
    
    .skills .flex a:nth-of-type(even){
        width: 100%;
        margin: 10px 0;
    }

}

/* Animation */

#box {
    transform: translateX(200%);
    transition: transform .5s ease;
}

#box:nth-of-type(odd) {
    transform: translateX(-200%);
}

#box.show {
    transform: translateX(0);
}